<div>
	<span style="float: right"><a href="#/dashboard">Go to Polls</a></span>
	<strong ng-bind="newPoll.question"></strong>
	<form class="form-horizontal" role="form">{{vote}}
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Option</th>
					<th>Current Count of Votes</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td ng-bind="poll.option1"></td>
					<td ng-bind="poll.count1" ng-model="vote.count1"></td>
					<td><button ng-click="voted('count1')">Votes</button></td>
				</tr>
				<tr>
					<td ng-bind="poll.option2"></td>
					<td ng-bind="poll.count2" ng-model="vote.count2"></td>
					<td><button ng-click="voted('count2')">Votes</button></td>
				</tr>
				<tr>
					<td ng-bind="poll.option3"></td>
					<td ng-bind="poll.count3" ng-model="vote.count3"></td>
					<td><button ng-click="voted('count3')">Votes</button></td>
				</tr>
				<tr>
					<td ng-bind="poll.option4"></td>
					<td ng-bind="poll.count4" ng-model="vote.count4"></td>
					<td><button ng-click="voted('count4')">Votes</button></td>
				</tr>
			</tbody>
		</table>		
	</form>
</div>