<html ng-app="myApp">
<head>
  <title>{{title}}</title>
  <!-- require angular -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
  <script type="text/javascript" src="https://code.angularjs.org/1.2.26/angular-route.js"></script>
  <script type="text/javascript" src="js/route.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
</head>

<body>
  <div ng-view="">
    
  </div>
</body>
</html>